$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
$primary-font-family: "Heebo", sans-serif;
$secondary-font-family: "Mukta", sans-serif;

// COLOURS
$primary-color-black: #001928;
$primary-color-blue: #0075BE;
$primary-color-red: #FF151F;
$primary-color-grey: #555555;
$primary-color-white: #FEFEFE;
$secondary-color-grey: #F5F6F7;
$secondary-color-divider: #E1E1E1


